body {
  background-image: linear-gradient(90deg, red, green);
  display: flex;
  justify-content: center;
}

h1 {
  text-align: center;
}

.input-container {
  display: flex;
  gap: 20px;
}

input {
  outline: none;
  height: 2rem;
  padding: 4px;
  background: gray;
  color: white;
  border-radius: 2px;
}

.item {
  background: white;
  display: flex;
  gap: 10px;
  justify-content: center;
  margin: 10px;
}

button {
  height: 20px;
  margin: auto 10px;
}
